@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Rubik|Varela+Round|Kanit);
@import url(main.css);
@import url(normalize.css);

/*font*/ 
body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1.1px;
  color: #222
}
.con2 a {
  font-family: 'Kaint', sans-serif;
  letter-spacing: 1.2px;
  color: #222
}
header { 
  font-family: 'Varela Round', sans-serif;
  color: #eee
}
::selection {
  background: #111;
  color: #eee
}

/*wrap*/
body {
  background: #598059
}
.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 700px
}
.btn {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  top: 30px;
  z-index: 2;
  
  background: transparent
}
.btn:hover {
  cursor: pointer
}
.btn span {
  display: block;
  width: 50px;
  height: 10px;
  border-bottom: 2px solid
}
.btn span:before,
.btn span:after  {
  content: '';
  position: absolute;
  width: 100%;
  right: 0;
  border-top: solid 2px
}
.btn span:after {
  bottom: 10px
}
header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  background: #55ae95;
  z-index: 1
}
header .close-btn {
  display: block;
  position: absolute;
  padding-bottom: 50px;
  width: 50px;
  right: 50px;
  top: 13px;
  background: transparent;
  z-index: 3
}
header .close-btn:hover {
  cursor: pointer
}
header .close-btn:before,
header .close-btn:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  color: #222;
  border-bottom: solid 2px
}
header .close-btn:before {
  transform: translateX(-7px) rotate(45deg);
  right: -25px
}
header .close-btn:after {
  transform: translateX(7px) rotate(-45deg);
  left: -25px
}
header .h-pic {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  overflow: hidden;
  background: url(../img/menu00_1.png) no-repeat center 0 / cover;
  filter: brightness(.9);
  opacity: .97
}
header .pic {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
/*  filter: brightness(.95);*/
  opacity: .97
}
header .pic:nth-child(1) {
  background: url(../img/menu01.jpg) no-repeat center / cover
}
header .pic:nth-child(2) {
  background: url(../img/menu02.png) no-repeat center center / cover;
  filter: blur(.5px)
}
header .pic:nth-child(3) {
  background: url(../img/menu03_1.jpg) no-repeat center center / cover
}
header .pic:nth-child(4) {
  background: url(../img/menu04.png) no-repeat center center / cover
}
header .b-gnb,
header .b-fnb {
  position: relative;
  left: 40%;
  top: 0;
  width: 60%;
  color: #222
}
header .b-gnb {
  height: 80%;
  font-size: 40px
}
header .b-fnb {
  height: 20%;
  text-transform: uppercase
}
/*header on*/
header {
  transform: translateX(100%);
  transform-origin: right center;
  opacity: 0;
  transition: all .7s
}
header.on {
  transform: translateX(0%);
  opacity: 1
}
.b-gnb .gnb {
  position: absolute;
  height: 100%;
  top: 25%;
  left: 20%;
  height: 190px
}
.b-gnb .gnb a {
  display: block;
  padding: 13px 0;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all .3s
}
.b-gnb .gnb:hover a {
  color: #256755
}
.b-gnb .gnb a:hover {
  color: #c9d99e
}
.b-fnb .fnb {
  position: absolute;
  left: 20%
}
.b-fnb .fnb a {
  margin-right: 50px;
  font-size: 10px;
  transition: all .3s
}
.b-fnb .fnb a:hover {
  color: #c9d99e
}
/*jQuery img*/
.h-pic .pic {
  z-index: 0; 
  opacity: 0;
  transition: all .5s
}
.h-pic .pic.on {
  z-index: 1;
  opacity: 1
}
/* main */
main {
  position: fixed;
  width: 100%;
  height: 100%
}
main section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.con1 article {
  float: left;
  width: 25%;
  height: 50%
}
.con article:nth-child(1) {
  background-color: #fae8c8
}
.con1 article .title {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
  text-align: left
}
.con1 article .title-con {
  position: absolute;
  bottom: 5%;
}
.con1 article h1 {
  font-size: 60px
}
.con1 article p b {
  display: block;
  padding: 10px 0;
  font-size: 20px
}
.con1 article span {}
.con article:nth-child(2) {background-color: #c9d99e}
.con article:nth-child(3) {background-color: #fda77f}
.con article:nth-child(4) {background-color: #55ae95}
.con article:nth-child(5) {background-color: #90c6b7}
.con article:nth-child(6) {background-color: #e68253}
.con article:nth-child(7) {background-color: #f5cb82}
.con article:nth-child(8) {background-color: #c9d99e}
.con1 .article-con {
  top: 10%;
  width: 80%;
  height: 90%;
  padding-top: 10%;
  margin: auto
}
.con1 article p > img {
  display: block;
  width: 60%;
  margin: auto;
  filter: grayscale(1) blur();
  transition: all .5s
}
.con1 article p:hover > img {
  filter: grayscale(0);
  cursor: pointer
}
.con1 article:hover h2 {
  letter-spacing: 2.5px
}
.con1 article h2 {
  text-align: center;
  font-size: 28px;
  padding: 15px 0;
  transition: all .5s
}
.con1 article h2 img {
  margin-left: 15px
}
.con1 article li  {
  display: block;
  width: 30%;
  float: left;
  margin: 1.666%;
  font-size: 14px;
  line-height: 1.3
}
main section article {
  perspective: 800px
}
main section .article-con {
  transform: rotateY(0deg);
  transition: all 1.5s;
  opacity: 1
}
main section .article-con.on {
  transform: rotateY(180deg);
  transition: all 1.5s;
  opacity: 0
}
section {
  z-index: 0;
  opacity: 0;
  transition: all 0s
}
section.on {
  z-index: 1;
  opacity: 1
}
.article-con2 {
  z-index: 0;
  position: absolute;
  width: 80%;
  margin: 10%;
  top: 50%;
  margin-top: -100px;
  height: 200px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  
  transform: rotateY(-180deg);
  opacity: 0
}
.article-con2.on {
  opacity: 1;
  z-index: 2;
   transform: rotateY(0deg);
  transition: all 1.5s;
}
.con2 article {
  float: right;
  width: 33.333%;
  height: 25%
}
.con2 article:nth-child(-n+2) {
  height: 100%
}
.con2 article:nth-child(2) p {
  height: 100%;
  background: url(../img/bg_get.jpg) center / cover;
  border: solid 1px #999;
  filter: grayscale() blur();
  transition: all .8s
}
.con2 article:nth-child(2) p:hover {
  filter: grayscale(0)
}
.con2 article:nth-child(3) {background-color: #fda57d}
.con2 article:nth-child(1) {background-color: #f4d090}  
.con2 article a {
  display: block;
  z-index: 2;
  height: 20%;
  margin-top: 13%;
  
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  transition: all .5s
}
.con2 article a:hover {
  letter-spacing: 3px;
  color: #c9d99e
}
.con2 article a:hover i {
  opacity: 1;
  color: #222;
  letter-spacing: 0
}
.con2 article i {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0;
  transition: all .8s
}
.con2 article .title,
.con3 article .title, 
.con4 article .title {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
  text-align: left;
  line-height: 1.5
}
.con2 article .title-con {
  position: absolute;
  bottom: 10%;
}
.con3 article .title-con, 
.con4 article .title-con {
  position: absolute;
  bottom: 20%
}
.con2 article h1,
.con3 article h1,
.con4 article h1 {
  font-size: 60px
}
.con2 article p b,
.con3 article p b {
  display: block;
  padding: 15px 0 20px 0;
  font-size: 20px
}
.con4 article p b {
  display: block;
  padding-bottom: 10px
}
.con3 article {
  float: right;
  width: 50%;
  height: 50%
}
.con3 article:first-child {
  position: relative;
  height: 100%
}
.con3 article:first-child p {
  position: absolute;
  top: 50%;
  height: 600px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -300px
}
.con3 article:first-child p img {
  display: block;
  height: 600px;
  filter: grayscale();
  transition: all .8s
}
.con3 article:first-child a {
  position: relative;
  display: block;
  bottom: 25%;
  left: 50%;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: #eee;
  margin-left: -100px;
  opacity: 0;
  transition: all .8s;
  letter-spacing: 2px
}
.con3 article:first-child p:hover a {
  opacity: 1
}
.con3 article:first-child a:hover {
  color: #55ae95
}
.con3 article:first-child p img:hover {
  filter: grayscale(0) brightness(1.1)
}
.con3 article:nth-child(2) p {
  height: 100%;
  background: url(../img/bg_contact.png) no-repeat 0 0 / cover
}
.con3 article:last-child {background-color: #c9d99e}

.con4 article {
  float: left;
  width: 25%;
  height: 33.333%
}
.con4 article:first-child {
  height: 100%;
  width: 50%;
  background-color: #f7e0b7
}
.con4 article:nth-child(3) {
  height: 66.666%
}
.con4 article:nth-child(4) {
  position: absolute;
  height: 33.333%;
  top: 33.333%;
  left: 50%
}
.con4 article:last-child {
  width: 50%
}
.con4 article .item {
  position: relative;
  width: 90%;
  height: 80%;
  margin: auto;
  top: 10%;
/*  background: green*/
}
.con4 article .item p {
  position: absolute;
  width: 65%;
  height: 100%;
  right: 0;
  transition: all .5s
}
.con4 article .item2 p,
.con4 article .item3 p {
  left: 0;
  width: 50%;
}
.con4 article .item4 p {
  left: 0;
  margin-left: 40px;
  width: 80%;
  height: 70%
}
.con4 article .item4 .desc {
  width: 80%;
  left: 0;
  margin-left: 40px;
  bottom: 0%;
} 
.con4 article .item1 p:first-child {
  background: url(../img/shop01.png) no-repeat 0 / cover
}
.con4 article .item1 p:nth-child(2) {
  background: url(../img/shop01_1.png) no-repeat 0 / cover;
  opacity: 0
}
.con4 article .item2 p:first-child {
  background: url(../img/shop02.png) no-repeat center / cover
}
.con4 article .item2 p:nth-child(2) {
  background: url(../img/shop02_1.png) no-repeat center / cover;
  opacity: 0 
}
.con4 article .item2 p:first-child {
  background: url(../img/shop02.png) no-repeat center / cover
}
.con4 article .item2 p:nth-child(2) {
  background: url(../img/shop02_1.png) no-repeat center / cover;
  opacity: 0 
}
.con4 article .item3 p:first-child {
  background: url(../img/shop03.png) no-repeat center / cover
}
.con4 article .item3 p:nth-child(2) {
  background: url(../img/shop03_1.png) no-repeat right center / cover;
  opacity: 0 
}
.con4 article .item4 p:first-child {
  background: url(../img/shop04.png) no-repeat center / cover
}
.con4 article .item4 p:nth-child(2) {
  background: url(../img/shop04_1.png) no-repeat right center / cover;
  opacity: 0 
}
.con4 article .item:hover p:nth-child(2) {
  opacity: 1
}
.con4 article .item .desc {
  position: absolute;
  overflow: hidden;
/*  height: auto*/
}
.con4 article .item1 .desc {
  width: 30%;
  bottom: 0;
  left: 0;
  text-align: right
}
.con4 article .item2 .desc,
.con4 article .item3 .desc{
  width: 42%;
  bottom: 0;
  right: 5%
}
.con4 .item .desc i {
  display: block;
  font-style: normal;
  text-align: right;
  padding: 10px 0;
}
.con4 .item2 .desc i,
.con4 .item3 .desc i,
.con4 .item4 .desc i {
  text-align: left
}
.con4 article .item:hover h3,
.con4 article .item:hover {
  cursor: pointer
}
.con4 article .item h3 {
  transition: all .5s
}
.con4 article .item:hover h3 {color: #fda60b}

