@import url(common.css);

/*font*/  
body { 
  font-family: 'Open Sans', sans-serif;
  color: #c4dfa6;
  letter-spacing: 2px;
  text-transform: uppercase
}
p, 
.pj .bg-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 100px;
  text-transform: uppercase
}
.open,
.pj a {
  font-family: 'Open Sans', sans-serif
}
main .pj span,
main .pj h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
/*<layout>*/

.img-logo .fst-logo,
.img-logo .sec-logo {
  position: fixed;
  bottom: 32px;
  left: 40px
}
.img-logo .sec-logo {display: none}
 header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    border-bottom: solid 0px;
    transition: all .3s
  }
  header .header-con {
    position: relative;
    width: 1820px;
    height: 80px;
    margin: auto
  }
  header .lang,
  header .gnb,
  header span {
    height: 16px;
    margin-top: 32px;
  }
  header .lang a,
  header .gnb a {
    position: relative;
    display: block;
    float: left;
    border-right: solid 1px;
    padding: 0 20px;
  }
  header .lang a:last-child,
  header .gnb a:last-child {
    border-right: none
  }

  header .lang {
    position: absolute;
    left: 20px;
    width: 150px;
    height: 16px;
    margin-top: 32px
  }
  header .gnb {
    position: absolute;
    left: 30%
  }
  header .logo {
    position: absolute;
    right: 20px;
    font-weight: normal;
    text-transform: uppercase;
  }
  header .logo a {
    padding: 0 20px;
  }
  header nav a i {
    position: absolute;
    top: 23px;
    left: 40%;

    font-size: 5px;

    opacity: 0;
    transition: all 0.5s
  }
  header .gnb a i {
    left: 45%;
  }
  header .lang a:hover i,
  header .gnb a:hover i,
  header .lang a.on i,
  header .gnb a.on i {
    opacity: .8
  }
  header .logo a {
    transition: all .5s
  }
  header .logo a:hover {
    color: #c9ff90
  }
  /*        jQuery          */
  header.on {
    z-index: 1;
    background: #282b29
  }
  header.on .header-con {
    position: relative;
    width: 1820px;
    height: 80px;
    margin: auto;
    border-bottom: solid 1px
  }
  header.on .lang,
  header.on .gnb,
  header.on span {
    height: 16px;
    margin-top: 32px;
  }

  header.on .lang a,
  header.on .gnb a {
    position: relative;
    display: block;
    float: left;
    border-right: solid 1px;
    padding: 0 20px;
  }
  header.on .lang a:last-child,
  header.on .gnb a:last-child {
    border-right: none
  }
  header.on .lang {
    position: absolute;
    left: 20px;
    width: 150px;
    height: 16px;
    margin-top: 32px
  }
  header.on .gnb {
    position: absolute;
    left: 30%;
  }
  header.on .logo {
    position: absolute;
    right: 20px;
    font-weight: normal;
    text-transform: uppercase;
  }
  header.on .logo a {
    padding: 0 20px;
  }
  header.on nav a i {
    position: absolute;
    top: 23px;
    left: 40%;

    font-size: 5px;

    opacity: 0;
    transition: all 0.5s
  }
  header.on .gnb a i {
    left: 45%;
  }
  header.on .lang a:hover i,
  header.on .gnb a:hover i,
  header.on .lang a.on i,
  header.on .gnb a.on i {
    opacity: .8
  }
  header.on .logo a {
    transition: all .5s
  }
  header.on .logo a:hover {
    color: #c9ff90
  }
  /*visual*/
  .visual {
    height: 1000px;
    width: 100%;
    position: relative
  }

  .visual .v-text { 
    width: 100%;
    position: fixed;
    top: 42%;
    text-transform: uppercase;
    text-align: center
  }
.visual .v-vid {
  position: absolute;
  width: 30%;
  top: 75%;
  right: 10%;
  background: #282b29;
}
  .visual .v-vid video {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .visual .p-btn {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -50px;
    left: -20%;
    background: transparent;
    color: #c4dfa6;
    border: solid 1px;
    border-radius: 80px;
    z-index: 2
  } 
.visual .p-btn .play,
.visual .p-btn .pause {
  height: 30px;
  line-height: 30px;
  margin-top: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  transition: all .5s
  }
.visual .p-btn .play.on {
  display: none
}
.visual .p-btn .pause {
  display: none
}
  .visual .p-btn:hover .play,
  .visual .p-btn:hover .pause {
    cursor: pointer;
    color: #c9ff90;
    transform: translateY(-13px)
  }
.visual .p-btn .pause.on {
  display: block;
  margin-top: 35px
}
  .visual .visual-con .bg-text {
    position: fixed;
    top: 30%;
    width: 100%
  }
  .visual .visual-con .bg-text span { display: none;}
  .visual .visual-con .bg-text p {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 120px
  }
   main .about {
    height: 860px;
    margin-top: 150px;
  }

  main .about .desc {
    position: absolute;
    display: block;
    right: 40px;
    width: 640px;
    padding-left: 60px;
    padding-top: 260px;
    height: 480px;
    border-top: solid 1px #c4dfa6;
    background-color: #282b29;
    text-transform: uppercase;
    font-size: 30px
  }
  main .about a {
    position: absolute;
    margin-top: 50px;
    width: 132px;
    height: 25px;
    font-size: 18px;
    left: 60px
  }
  main .about a:after,
  main .pj .sm:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 1px;
    width: 0;
    height: 1px;
    background: #c4dfa6;
    transition: all .3s
  }
  main .about a:hover:after,
  main .pj .sm:hover:after {
    width: 100%;
    left: 0
  }

  main .about img {
    position: absolute;
    right: 740px;
    display: block;
    float: left;
    height: 860px;
    width: 655px;
    background: url(../img/pic01.png) no-repeat left bottom / cover;
    filter: brightness(.9)
  }

  /*   2   */
  main .pj {
    padding-top: 220px;
    position: relative;
    height: 100%;
    width: 100%;
    background: #282b29;
    border-top: solid 1px #c4dfa6;
    border-bottom: solid 1px #c4dfa6
  }
  main .pj .bg-text {
    text-align: center;
    height: 2300px
}
  main .pj video:hover {
    cursor: pointer
  }
  main .pj li {
    position: absolute;
    background: url(../img/play.png) no-repeat center center / cover
  }
  main .pj li:nth-child(1) {
    top: 25%;
    left: 10%
  }
  main .pj li:nth-child(2) {
    top: 23%;
    right: 10%
  }
  main .pj li:nth-child(3) {
    top: 50%;
    left: 15%
  }
  main .pj li:nth-child(4) {
    top: 47%;
    right: 13%
  }
  main .pj li:nth-child(5) {
    top: 72%;
    left: 36%
  }
  main .pj video:nth-child(1) {
    width: 600px
  }
  main .pj h3 {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: solid 1px #c4dfa6
  }
main .pj .sm {
    position: absolute;
    display: block;
    width: 103px;
    right: 47%;
    bottom: 6%;
    font-size: 18px;
  }
main .pj .sm:after {
    bottom: -5px
  }
  h3,
  main .cl p {
    font-family: 'Open Sans', sans-serif;
    color: #c4dfa6;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 16px
  }

  /*layout*/
  main .cl-bg {
    position: relative;
    width: 100%;
    height: 505px;
    background: #282b29;
    border-bottom: solid 1px #c4dfa6
  }
  main .cl-bg .cl {
    position: absolute;
    right: 0
  }
  main .cl-bg h3 {
    padding: 20px 0;
    border-bottom: solid 1px #c4dfa6
  }
  main .cl-bg img {
    display: inline-block;
    float: left;
    border-right: solid 1px #c4dfa6;
    border-bottom: solid 1px #c4dfa6
  }
  main .cl-bg img:last-child {
    border-right: none
  }
  main .cl p {
    padding: 195px 0 20px 0;
    border-bottom: solid 1px #c4dfa6
  }
  main .info {
    position: relative;
    height: 60px;
    padding: 80px 0;
  }
  main .info .mail {
    position: absolute;
  }
  main .info .loca {
    position: absolute;
    left: 40%;
  }
  main .info .sns {
    position: absolute;
    left: 75%
  }
  main .info .sns a {
    display: block
  }
  main .sns a i {
    position: absolute;
    font-size: 5px;
    left: -25px;
    margin-top: 3.5px;
    opacity: 0;
    transition: all 0.5s
  }
  main .sns a:hover i,
  main .sns a.on i {
    opacity: .8
  }
  footer {
    position: relative;
    width: 1820px;
    height: 350px;
    margin: auto;
    background: #282b29;
  }
  footer .wlc {
    position: absolute;
    width: 100%;
    margin-top: 30px;
    background: #282b29;
  }
  footer .wlc marquee {
    position: absolute;
    width: 100%;
    height: 100px;

    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
  }
  footer span {
    position: absolute;
    height: 170px;
    width: 100%;
    margin: auto;
    border-bottom: solid 1px #c4dfa6
  }
  footer address {
    position: absolute;
    left: 30%;
    bottom: 40px;
    padding-left: 20px;
    font-style: normal
  }
  footer a {
    position: absolute;
    display: block;
    right: 40px;
    bottom: 40px;
    transition: all .5s
  }
  footer a:hover {
    color: #c9ff90
  }
  header .header-con {
    width: 100%
  }
  header.on .header-con {
    width: 100%;
    margin: auto
  }
  .visual .v-text {
    top: 43%
  }
  main .about {
    height: 700px;
  }
  main .about img {
    height: 700px;
    width: 573px;
    right: 700px;
    background: url(../img/pic01.png) no-repeat center bottom / cover
  }
  main .about .desc {
/*    padding-top: 210px;*/
    right: 0
  }
  main .about a {
    top: 440px
  }
  /*2*/
  main video {
  width: 45%
  }
  main .pj li:nth-child(1) {
    top: 25%;
    left: 9%
  }
  main .pj li:nth-child(2) {
    top: 23%;
    right: 8%
  }
  main .pj li:nth-child(3) {
    top: 50%;
    left: 11%
  }
  main .pj li:nth-child(4) {
    top: 47%;
    right: 10%
  }
  main .pj li:nth-child(5) {
    top: 72%;
    left: 33%
  }
  main .cl-bg {
    width: 100%;
    height: 505px;
    background: #282b29;
    border-bottom: solid 1px #c4dfa6}

  footer {
    width: 100%
  }

@media screen and (min-width: 1000px) and (max-width: 1599px) {
  header {
    z-index: 2
  }
  .visual .v-vid {
  width: 40%;
  top: 70%;
  right: 10%
  }
  p,
  main .pj .bg-text {
    font-size: 80px;
  }
  .visual .p-btn {
    z-index: 1
  }
  main .about {
    height: 650px;
    width: 100%;
  }
  main .about .desc {
    width: 480px;
    padding-left: 40px;
    padding-top: 200px;
    height: 600px;
    font-size: 22px;
  }
  main .about a {
    left: 40px;
    top: 400px
  }
  main .about img {
    right: 480px;
    width: 500px;
    border-top: solid 1px #c4dfa6
  }
  /*   2   */
  main .pj .bg-text {
    height: 1100px
  }
  main .pj video:nth-child(1) {
    width: 400px
  }
  main .pj li:nth-child(1) {
    top: 35%;
    left: 10%
  }
  main .pj li:nth-child(2) {
    top: 35%;
    right: 8%
  }
  main .pj li:nth-child(3) {
    top: 65%;
    left: 10%
  }
  main .pj .vid4,
  main .pj .vid5 {
    display: none; 
  }
  main .pj a {
    right: 22%;
    bottom: 24%
  }
  main .cl-bg {
    height: 900px;
  }
  main .cl-bg .cl {
    width: 635px;
    right: 18%
  }
  main .cl-bg h3 {
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    border-bottom: solid 1px #c4dfa6
  }
  main .cl-bg img {
    display: block;
    float: left;
    border-right: solid 1px #c4dfa6;
    border-bottom: solid 1px #c4dfa6
  }
  main .cl-bg img:nth-child(2) {
    border-right: none
  }
  main .cl-bg img:nth-child(3) {
    border-left: none
  }
  main .cl-bg img:nth-child(3),
  main .cl-bg img:nth-child(4) {
    margin-bottom: 15px
  }
  main .cl-bg img:last-child {
    border-right: none
  }
  main .cl p {
    height: 30px;
    padding: 183px 0;
    text-align: center;
    border-bottom: solid 1px #c4dfa6
  }
  main .info {
    position: relative;
    display: inline-block;
    height: 500px;
    text-align: center;
  }
  main .info .mail {
    left: 206px;
  }
  main .info .loca {
    width: 200px;
    top: 200px;
    left: 217px    
  }
  main .info .sns {
    width: 635px
  }
  main .info .sns a {
    display: block;
    float: left;
    
    position: relative;
    top: 250px;
    width: 33.3333%;
    transition: all .3s
  }
  main .info .sns a:hover {
    color: #c9ff90
  }
  main .info .sns a i {
    display: none;
  }
}
@media screen and (max-width: 999px) {
  header .logo, 
  header .lang {
    display: none;
  }
  header {
    background: #282b29
  }
  header .header-con {
    border-bottom: solid 1px #c4dfa6
  }
  header .gnb {
    left: 0%;
  }
  header .gnb a {
    padding: 0 11px
  }
  header.on .logo, 
  header.on .lang {
    display: none;
  }
  header.on .header-con {
    border-bottom: solid 1px #c4dfa6
  }
  header.on .gnb {
    left: 0%;
  }
  header.on .gnb a {
    padding: 0 11px
  }
  .visual {
    height: 400px;
    padding-bottom: 80px;
  }
  .visual .v-vid {
  width: 45%;
/*  bottom: 10px;*/
  top: 78%;
  background: #282b29;
  }
  .visual .p-btn {
    height: 90px;
    width: 90px;
    left: -19%;
    top: 80px;
    font-size: 10px;
    z-index: 0
  } 
  p,
  main .pj .bg-text {
    font-size: 44px
  }
  .visual .visual-con .bg-text {
    position: absolute;
    top: 160px;
  }
  .visual .v-text {
    display: none;
  }
  .visual .visual-con .bg-text span {
    display: block;
  }
  .visual .visual-con .bg-text p {
    padding-bottom: 0px
  }
  main {
    margin: 0 20px;
    margin-top: 150px;
  }
  main .about {
    position: relative;
    height: 650px;
    width: 100%;
    border-top: solid 1px;
/*    background: green*/
  }
  main .about img {
    right: 0;
    height: auto;
    margin-bottom: 0;
    width: 100%;
    background-position: center
  }
  main .about .desc {
    bottom: 0;
    width: 100%;
    height: 150px;
    font-size: 16px;
    border: none;
    padding: 20px 0 20px 0
  }
  main .about a {
    top:  90px;
    font-size: 16px;
    left: 0
  }
  main .pj {
    padding: 130px 0
  }
  main .pj .bg-text {
    padding-bottom: 0;
    height: auto;
  }
  main .pj .pj-vid {
    margin-top: 80px
  }
  main .pj video:nth-child(n) {
    width: 100%;
    margin-bottom: 10px
  }
  main .pj li:nth-child(n) {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin-bottom: 70px
  }
  main .pj a {
    left: 0;
    bottom: 90px
  }
  main .cl-bg {
    height: 880px;
    padding-bottom: 0
  }
  main .info {
    position: relative;
    height: 60px;
    padding: 75px 0 0 0;
  }
  main .info .sns {
    position: absolute;
/*    left: 75%*/
  }
  main .cl-bg h3 {
    font-weight: normal;
    text-align: center;
  }
  main .cl-bg img {
    width: 49.5%
  }
  main .cl-bg img:nth-child(2) {
    border-right: none
  }
  main .cl-bg img:nth-child(3) {
    border-left: none
  }
  main .cl-bg img:nth-child(3),
  main .cl-bg img:nth-child(4) {
    margin-bottom: 20px
  }
  main .cl p {
    height: 30%;
    margin-top: 0;
    text-align: center;
    border-bottom: solid 1px #c4dfa6
  }
  main .info {
    text-align: center
  }
  main .info .mail {
    width: 100%;
    left: 0
  }
  main .info .loca {
    width: 100%;
    bottom: -55%;
    left: 0    
  }
  main .info .sns {
    width: 100%;
    top: 14%;
    left: 0;
    margin: 0%;
  }
  main .info .sns a {
    display: block;
    float: left;
    position: relative;
    top: 220px;
    width: 33.3333%;
    transition: all .3s
  }
  main .info .sns a:hover {
    color: #c9ff90
  }
  main .info .sns a i {
    display: none;
  } 
  footer {
    height: 200px;
/*    height: auto*/
  }
  footer span {
    display: none
  }
  footer address {display: none}
  .img-logo .fst-logo {display: none}
  footer a {
    right: 20px;
    bottom: 20px
  }
  .img-logo .sec-logo {
    display: block;
    bottom: 20px;
    left: 20px
  }
  main .cl-bg {
    border: none;
/*    height: auto*/
    height: 890px;
  }
  footer .wlc marquee {
/*    border: 0;*/
    font-size: 36px;
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px;
    border-top: solid 1px
  }
  footer span {
/*    height: 55px;*/
    width: 100%;
    margin: 0 -20px;
  }
}